{% extends "base.html" %}

{% block title %}拾得物一覧ページ{% endblock %}

{% block style %}
{{ super() }}
<style>
  .fixed-box {
    position: fixed;
    top: 160px;
    left: 30px;
    width: 250px;
    height: 800px;
    background-color: #fca5a5;
    border: 1px solid #ffffff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }

  .main-content {
    margin-left: 300px;
    padding-top: 40px;
  }

  @media (max-width: 768px) {
    .fixed-box {
      display: none;
    }

    .main-content {
      margin-left: 0;
    }
  }
  .fixed-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
</style>
{% endblock %}

{% block content %}
<main>
  <div class="container-fluid">
    <!-- 固定ボックス -->
    <div class="fixed-box">
      <div class="container">
        <p class="h5 rounded text-center text-white">拾得物検索</p>
        <form action="{{url_for('item_list')}}" method="POST">
          物品名<input type="text" name="key">
          <button type="submit" class="btn btn-danger">検索</button>
        </form>
        <span id="ritems">検索結果：{{n}}件</span>
        <hr>
        <p class="h5 rounded text-center text-white">カテゴリ</p>
      </div>
    </div>
  </div>

  <!-- メインのカード部分 -->
  <div class="main-content">
    <h1 class="text-center mb-4">拾得物一覧</h1>
    <div class="row row-cols-2 row-cols-xl-4 g-4">
      {% for i in j %}
      <div class="col">
        <div class="card">
          <a href="/item_detail?id={{i.拾得物ID}}">
            {% if i.画像 %}
            <img src="{{ url_for('static', filename='img/' + i.画像) }}" class="card-img-top fixed-img">
            {% endif %}
          </a>
          <div class="card-body">
            <h5 class="card-title">{{i.物品名}}</h5>
            <p class="card-text">拾得場所:{{i.拾得場所}}</p>
            <p class="card-text">拾得日:{{i.拾得日}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</main>
{% endblock %}